language: generic
sudo: required
services:
  - docker

before_install:
  - docker build -t diegonavia/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true diegonavia/docker-react npm run test

deploy:
  provider: elasticbeanstalk
  region: "us-east-1"
  app: "docker-react"
  env: "DockerReact-env"
  bucket_name: "elasticbeanstalk-us-east-1-375849559716"
  bucket_path: "docker-react"
  on:
    branch: master
  access_key_id: $access_key_id
  secret_access_key: $secret_access_key
  deploy.skip_cleanup: true
